/* Custom styles for modal */
.otp-modal {
  padding: 0px 53px;
  /* box-sizing: content-box !important; */
}

.ant-modal-wrap {
  width: calc(100vw - 15px) !important;
}

/* When there modal opens → move the image 15px to the right */
body:has(.ant-modal-mask) .auth-background-image {
  transform: translateX(15px);
}

/* Custom styles for OTP inputs */
.otp-form-holder .ant-otp-input {
  width: 56px;
  height: 56px;
}

.ant-form .ant-otp {
  gap: 19.73px;
  justify-content: center;
  align-items: center;
}

/* BreadCrumbs */
.ant-breadcrumb ol {
  align-items: center;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}
.ant-breadcrumb a {
  height: fit-content;
  padding: 4px 10px;
}
