/* Custom styles for modal */
.otp-modal {
  padding: 0px 53px;
  /* box-sizing: content-box !important; */
}

.ant-modal-wrap {
  width: calc(100vw - 15px) !important;
}

/* When there modal opens → move the image 15px to the right */
body:has(.ant-modal-mask) .auth-background-image {
  transform: translateX(15px);
}

/* Custom styles for OTP inputs */
.otp-form-holder .ant-otp-input {
  width: 56px;
  height: 56px;
}

.ant-form .ant-otp {
  gap: 19.73px;
  justify-content: center;
  align-items: center;
}

/* BreadCrumbs */
.ant-breadcrumb ol {
  align-items: center;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}
.ant-breadcrumb a {
  height: fit-content;
  padding: 4px 10px;
}

/* Quiz Answers */
.quiz-answers .ant-radio-wrapper {
  height: 54px;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 22px;
  gap: 2px;
  border: 1.5px solid var(--color-foundation-gray-normal);
  margin: 0;
}

.quiz-answers .ant-radio-wrapper.ant-radio-wrapper-checked {
  border-color: var(--color-foundation-orange-normal);
}

/* Outer circle radio */
.quiz-answers .ant-radio-wrapper .ant-radio-inner {
  border-width: 1.5px;
  border-color: var(--color-foundation-gray-normal);
}

.quiz-answers .ant-radio-wrapper.ant-radio-wrapper-checked .ant-radio-inner {
  border-color: var(--color-foundation-orange-normal);
}

/* Inner circle radio */
.quiz-answers .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: var(--color-neutral-0);
}

.quiz-answers .ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  background-color: var(--color-foundation-orange-normal);
}

@media screen and (min-width: 1024px) {
  .quiz-answers .ant-radio-wrapper {
    height: 104px;
  }
}
