/* @import "./base.css"; */
/* @import "./state.css"; */
@import "./layout.css";
@import "./small-components-styles.css";
@import "./custom-antd-styles.css";

@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";

@import "tailwindcss";

@theme {
  /* Foundation Colors */
  --color-foundation-brown-darker: #100e0c;
  --color-foundation-brown-normal: #2e2923;
  --color-foundation-brown-medium: #701900;

  --color-foundation-orange-normal: #e73201;
  --color-foundation-orange-normal-hover: #e13201;
  --color-foundation-orange-normal-hover-2: #d95934;
  --color-foundation-orange-dark: #bc2901;
  --color-foundation-orange-lighter: #fff7f5;
  --color-foundation-orange-light: #ffebe6;
  --color-foundation-orange-light-hover: #fee1d9;
  --color-foundation-orange-light-active: #fdc1b0;
  --color-foundation-orange-light-medium: #ff9f83;

  --color-foundation-red-normal: #e93550;

  --color-foundation-gray-darkest: #323232;
  --color-foundation-gray-darker: #2e2f32;
  --color-foundation-gray-normal: #838790;
  --color-foundation-gray-normal-hover: #767a82;
  --color-foundation-gray-normal-active: #3b3d41;
  --color-foundation-gray-lighter: #f3f3f4; /* foundation-grey-light */
  --color-foundation-gray-light: #f8f8f8;

  /* Neutrals & Basics */
  --color-neutral-0: #ffffff;
  --color-neutral-25: #fffffc;
  --color-neutral-50: #f0f0f0;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #f5fdff;
  --color-neutral-300: #f3f4f6;
  --color-neutral-500: #e5e7eb;

  --color-black: #000000;
  --color-black-default: #161616;
  --color-black-medium: #232323;
  --color-background: #eef3f3;
  --color-primary: #0e0f3b;
  --color-orange-medium: #ff3700;

  /* Gray Medium Shades */
  --color-gray-medium-300: #f9f9f9;
  --color-gray-medium-325: #fbfbfb;
  --color-gray-medium-375: #e2e2e2;
  --color-gray-medium-400: #e4e4e7;
  --color-gray-medium-500: #d9d9d9;
  --color-gray-medium-600: #a1a1aa;
  --color-gray-medium-700: #9c9c9c;
  --color-gray-medium-800: #717171;
  --color-gray-medium-900: #3d3d3d;

  /* Opacity Variants */
  --color-gray-medium-opacity-42: #3e3e3e6b;
  --color-gray-normal-opacity-80: #787878cc;
  --color-orange-opacity-60: #ce590699;

  /* Shadows */
  --shadow-custom: 0px 5px 10px 6px rgba(0, 0, 0, 0.12);
  --shadow-black-light: 0px 4px 24px 0px rgba(169, 169, 169, 0.4);
  --shadow-drifter-card: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-partner-image: 0px 3.21px 9.93px 0px rgba(113, 113, 113, 0.25);
  --shadow-dark-gray: 0px 4px 12px 0px rgba(113, 113, 113, 0.25);
  --shadow-black: 0px 0px 4.51px 0.4px rgba(0, 0, 0, 0.25);
  --shadow-black-medium: 0px 0px 5px 0.4px rgba(0, 0, 0, 0.25);
  --shadow-anchor: 0px 8px 18px -8px rgba(231, 50, 1, 0.69);
  --shadow-shadow-light-gray-2: 0px 3.24px 9.72px 0px rgba(113, 113, 113, 0.25);
  --text-shadow-light-gray: 0px 5.36px 16.09px rgba(113, 113, 113, 0.25);

  /* Gradients */
  --gradient-foundation-brown-1: linear-gradient(
    to right,
    #be2900 0%,
    #4e1200 100%
  );
  --gradient-foundation-brown-2: linear-gradient(
    to right,
    #e73201 0%,
    #6f1901 100%
  );
  --gradient-foundation-brown-3: linear-gradient(
    to right,
    #e73201 0%,
    #691701 70%,
    transparent 100%
  );
  --gradient-foundation-brown-4: linear-gradient(
    90deg,
    #e73201 0%,
    #691701 70%
  );

  --gradient-black-fade: linear-gradient(
    to bottom,
    #000000 0%,
    #000000 89%,
    transparent 100%
  );

  --gradient-foundation-orange-hero-1: linear-gradient(
    -109.253deg,
    rgba(231, 50, 1, 73%) 0%,
    rgba(88, 19, 0, 73%) 100%
  );

  --gradient-foundation-orange-contact-1: linear-gradient(
    -132.955deg,
    #e73201 0%,
    #581300 100%
  );

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-serif: "DM Sans", sans-serif;
  --font-mono: "Poppins", sans-serif;

  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;

  /* Fonts Used in Figma Design */
  /* 
    Poppins - Regular
    Poppins - Medium
    Poppins - SemiBold
    Poppins - Bold

    Inter - Regular
    Inter - Medium
    Inter - Semi Bold

    DM Sans - Regular
    DM Sans - Bold

    Montserrat - Medium
 */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 103.125rem; /* 1650px */
  --breakpoint-3xl: 120rem; /* 1920px */
}

@layer base {
  h1 {
    /* Font Size: Minimum 32px, Maximum 48px. Line Height: Minimum 38px, Maximum 53px */
    @apply text-[clamp(2rem,2.5vw+1.25rem,3rem)] leading-[clamp(2.375rem,2.5vw+1.75rem,3.3125rem)] font-bold;
  }

  h2 {
    /* Font Size: Minimum 28px, Maximum 36px. Line Height: Minimum 34px, Maximum 42px */
    @apply text-[clamp(1.75rem,1.5vw+1.25rem,2.25rem)] leading-[clamp(2.125rem,1.5vw+1.5rem,2.625rem)] font-semibold;
  }

  h3 {
    /* Font Size: Minimum 20px, Maximum 24px. Line Height: Minimum 26px, Maximum 30px */
    @apply text-[clamp(1.25rem,1vw+1rem,1.5rem)] leading-[clamp(1.625rem,1vw+1.25rem,1.875rem)] font-medium;
  }

  h4 {
    /* Font Size: Minimum 18px, Maximum 20px. Line Height: Minimum 22px, Maximum 26px */
    @apply text-[clamp(1.125rem,0.5vw+1rem,1.25rem)] leading-[clamp(1.375rem,0.5vw+1.125rem,1.625rem)] font-medium;
  }

  h5 {
    /* Font Size: Minimum 12px, Maximum 14px. Line Height: Minimum 18px, Maximum 22px */
    @apply text-[clamp(0.75rem,0.5vw+0.625rem,0.875rem)] leading-[clamp(1.125rem,0.5vw+0.875rem,1.375rem)] font-normal;
  }

  h6 {
    /* Font Size: Minimum 11px, Maximum 12px. Line Height: Minimum 16px, Maximum 18px */
    @apply text-[clamp(0.6875rem,0.25vw+0.625rem,0.75rem)] leading-[clamp(1rem,0.25vw+0.75rem,1.125rem)] font-normal;
  }

  p {
    /* Font Size: Minimum 14px, Maximum 16px. Line Height: Minimum 20px, Maximum 24px */
    @apply text-[clamp(0.875rem,0.5vw+0.75rem,1rem)] leading-[clamp(1.25rem,0.5vw+1rem,1.5rem)] font-normal;
  }

  button {
    cursor: pointer;
  }
}

.contact-us-title-left {
  background: var(--gradient-foundation-brown-3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Needed for Safari/Chrome */
  color: transparent; /* Fallback */
}
.contact-us-title-right {
  background: var(--gradient-foundation-brown-2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Needed for Safari/Chrome */
  color: transparent; /* Fallback */
}

.get-in-touch {
  background: var(--gradient-foundation-brown-4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Needed for Safari/Chrome */
  color: transparent; /* Fallback */
}

.about-hero-overlay {
  background: var(--gradient-foundation-orange-hero-1);
}
.contact-us-hero-overlay {
  background: linear-gradient(
    -109.253deg,
    rgba(231, 50, 1, 73%) 0%,
    rgba(88, 19, 0, 73%) 100%
  );
}

.contact-us-background {
  background: var(--gradient-foundation-orange-contact-1);
}
