.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
    margin: 0 auto;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
    margin: 0 auto;
  }
  @media (width >= 73.75rem /* 1180px */) {
    max-width: 73.75rem /* 1180px */;
    margin: 0 auto;
  }
  @media (width >= 90rem /* 1440px */) {
    /* max-width: 90rem 1440px; */
    max-width: 73.75rem /* 1180px */;
    margin: 0 auto;
  }
}
