.auto-loan-calculator-list .heading-list-title {
  color: var(--color-foundation-gray-normal-active);
  font: 20px;
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  display: block;
  width: 100%;
}

.auto-loan-calculator-list .heading-list-description {
  font-family: var(--font-inter);
  font: 16px;
  color: var(--color-foundation-gray-normal-active);
  font-weight: 400;
  display: block;
  width: 100%;
  line-height: 19px;
}

.slider-cards img {
  width: 100%;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-foundation-orange-normal);
}

/* Nav Link Styles */
.menu-item a:hover + span {
  width: 100%;
  background-color: var(--color-foundation-orange-normal);
}

a.active + span {
  width: 100%;
}
